.chat-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 40px;
}

.chat-wrapper {
  border: 1px solid #000;
  border-radius: 14px;
  min-width: 350px;
  position: relative;
}

.submit-wrapper {
  position: absolute;
  bottom: 10px;
  width: 100%;
  border-top: 1px solid #000;
  padding-top: 10px;
}

form {
  display: flex;
  padding-left: 10px;
  width: 100%;
}

form input {
  appearance: none;
  border: 1px solid #000;
  border-radius: 10px;
  flex-grow: 1;
  padding: 7px;
}

form button {
  background: #009657;
  border: none;
  border-radius: 12%;
  color: #fff;
  flex-grow: 0.2;
  margin-right: 20px;
  margin-left: 6px;
  padding: 0;
}

.user {
  border-bottom: 1px solid #000;
  height: 20px;
  padding: 5px 0 5px 12px;
}

.user__name {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

.messages {
  height: 400px;
  overflow: auto;
  padding: 13px 0 0 12px;
  margin-bottom: 60px;
}

.message {
  background-color: #ef42b2;
  border-radius: 15px;
  color: #fff;
  line-height: 28px;
  margin-bottom: 5px;
  padding: 5px 10px;
  width: 200px;
  transition: 0.3s all;
}

.message > div {
  padding-left: 5px;
}

.message.replyState {
  background: #04d9ff;
  transform: scale(1.05);
}

.reply {
  background: #04d9ff;
  border-radius: 4px;
  border-bottom: 1px solid #0000ff;
  margin-left: 10px;
  margin-bottom: 5px;
}

.user-input {
  margin-bottom: 10px;
}

.user-input input {
  border: none;
  border-bottom: 1px solid #000;
}
